.add-btn {
    box-sizing: content-box;
    width: 2rem;
    height: 2rem;
    padding: .25em .25em;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='200' height='200' version='1.0' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m92.393 200v-92.579h-92.393v-15.213h92.393v-92.208h14.842v92.208h92.764v15.213h-92.764v92.579z'/%3E%3C/svg%3E%0A");
    background-color: transparent;
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-toolbar{
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;;
}