.focused .coordinateFieldLabel {
    transform: translateY(-125%);
    font-size: .75em;
    color: black;
}

.coordinateFieldLabel {
    position: absolute;
    top: 0.5rem;
    z-index: 10;
    left: 1rem;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    pointer-events: none;
    color:var(--bs-gray);
}

.coordinateFieldButton {
    border-left: none;
    border-color: var(--bs-gray-500);
}

.coordinateFieldInput {
    border-right: none;
    border-color: var(--bs-gray-500);
}

.coordinateFieldInput:focus ,.coordinateFieldButton:focus{
    box-shadow: none;
}