.coordinateBox {
    margin: 20px;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.coordinateBox-header{
    display: flex;
    width: 100%;
}

.coordinateBox-body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.coordinate-toolbar {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

.removeBtn:focus{
    outline: none;
    box-shadow: none;
}

.boxBody {
    height: 150px;
    display: flex;
    flex-basis: 90%;
    margin: 0;
}

.source > input {
    border-width: 1px;
    border-radius: 5px;
}
.source > button {
    margin: 2px;
    background-color: rgb(144, 209, 255);
    color: white;
    border-width: 1px;
    border-radius: 5px;
}
