.coordinateBox {
    margin: 20px;
    margin-top: 0;
    background-color: var(--bs-gray-200);
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.coordinateBox-header{
    display: flex;
    width: 100%;
}

.coordinateBox-body{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.coordinate-toolbar {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

.removeBtn:focus{
    outline: none;
    box-shadow: none;
}
